<!DOCTYPE html>
<html>
  <head>
    <title>Roulette slider</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <div id="main-region"></div>
  </body>
  <script src="/build/bundle.js"></script>
</html>
