<div>
  <label>
    <input type="radio" name="color" value="red"> Красный
  </label>
  <label>
    <input type="radio" name="color" value="green"> Зелёный
  </label>
  <label>
    <input type="radio" name="color" value="black"> Чёрный
  </label>
</div>


<label>
  Ставка
  <input type="number" name="amount">
</label>

<button class="bet">Сделать ставку</button>
