<table>
  <thead>
    <tr>
      <th>Ставки на красный</th>
      <th>Ставки на зелёный</th>
      <th>Ставки на чёрный</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="red-region"></td>
      <td class="green-region"></td>
      <td class="black-region"></td>
    </tr>
  </tbody>
</table>
